<div class="details-container">
  <div class="row">
    <div class="col s12">
      <h2>{{project?.title}}</h2>
      <div class="chip">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="Contact Person">
        {{project?.creator}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <img class="responsive-img" src="{{project?.image_src}}" /><br>
      <div class="chip">
        <img *ngIf="project" src="assets/images/{{project?.category}}.png" alt="Contact Person">
        {{project?.category}}
      </div>
    </div>
    <div class="col s12 m4">
      <div class="progress">
        <div *ngIf="project" class="determinate" [ngStyle]="project | progress:'style'"></div>
      </div>
      <h5>{{project?.progress | currency:'USD':1-2.2}}</h5>
      <h6>{{project?.goal | currency:'USD':1-2.2}}</h6>
      <br>
      <h5>{{project?.backers}}</h5>
      <h6>Backers</h6>
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">attach_money</i>Fund Project</div>
          <div class="collapsible-body">
            <form materialize [formGroup]="funding">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <input id="funding" type="number" formControlName="amount" required>
                  <label for="funding">Funding Amount</label>
                </div>
              </div>
              <div class="row">
                <button type="button" [disabled]="!funding.valid" class="btn waves-effect waves-light blue-grey darken-1" (click)="fundProject(project)">Fund</button>
              </div>
            </form>
          </div>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="flow-text">
        {{project?.description}}
      </p>
    </div>
  </div>

</div>
