<div class="list-container">
  <div *ngFor="let project of projects" class="card large z-depth-2 list-cards">
    <div class="card-image">
      <img (click)="goToDetails(project)" src="{{project?.image_src}}">
    </div>
    <div class="card-content">
      <a class="activator btn-floating right waves-effect waves-light red"><i class="material-icons">attach_money</i></a>
      <span class="card-title" >{{project?.title}}</span>
      <h6 class="card-category">{{project?.category}}</h6>
      <p>{{project?.description}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <form materialize [formGroup]="funding">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">attach_money</i>
            <input id="funding" type="number" formControlName="amount" required>
            <label for="funding">Funding Amount</label>
          </div>
        </div>
        <div class="row">
          <button type="button" [disabled]="!funding.valid" class="btn waves-effect waves-light blue-grey darken-1" (click)="fundProject(project);">Fund</button>
        </div>
      </form>
    </div>
    <div class="card-action">
      <div class="col s8 info-bar">
        <!-- <div class="col s12"> -->
          <div class="progress">
            <div class="determinate" [ngStyle]="project | progress:'style'"></div>
          </div>
          <span>{{project | progress:'percent'}}</span>
          <span class="right">{{project?.backers}} Backers</span>

        <!-- </div> -->
        <!-- <div class="col s12">
        </div> -->
      </div>
      <div class="col s3">
        <a (click)="goToDetails(project)" class="btn waves-effect waves-light blue-grey darken-1"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </div>
</div>
